{{ template "header.html" . }}
    <div class="container">
      <h1>{{.sitename}}</h1>
        <p class="lead">A boilerplate for Go web applications. {{.username}}</p>
        <p id="errorText"></p>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <h2>CSRF Protection</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                <p><a class="btn btn-raised" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-6">
                <h2>Secure Cookies</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                <p><a class="btn btn-raised" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-6">
                <h2>Login/Signup</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                <p><a class="btn btn-raised" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-6">
                <h2>Dashboard</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                <p><a class="btn btn-raised" href="#" role="button">View details »</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>BoltDB for user info</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                <p><a class="btn btn-raised" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-6">
                <h2>MongoDB for user data</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                <p><a class="btn btn-raised" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-6">
                <h2>Anti-Bruteforce</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                <p><a class="btn btn-raised" href="#" role="button">View details »</a></p>
            </div>
            <div class="col-md-6">
                <h2>Hit Counter</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
                <p><a class="btn btn-raised" href="#" role="button">View details »</a></p>
            </div>
        </div>
    </div>
{{ template "footer.html" . }}
