    <footer>
        <div class="container text-center">
          <p class="float-left">© 2020 {{.copyrightname}} All Rights Reserved</p>
            <ul class="float-right list-inline">
                <li class="list-inline-item"><a href="https://github.com/sahat/hackathon-starter">Inspired By hackathon-starter</a></li>
                <li class="list-inline-item"><a href="https://github.com/aerth/webd">Source Code on GitHub</a></li>
                <li class="list-inline-item">{{.uptime}} Uptime</li>
                <li class="list-inline-item">{{.hits}} Requests</li>
            </ul>
        </div>
    </footer>
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/popper.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID-->
    <script>
/*        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-XXXXX-X', 'auto');
        ga('send', 'pageview');
  */  </script>
</body>

</html>
