    <footer>
        <div class="container text-center">
          <p class="float-left">© 2020 {{.copyrightname}} All Rights Reserved</p>
            <ul class="float-right list-inline">
                <li class="list-inline-item"><a href="https://github.com/sahat/hackathon-starter">Inspired By hackathon-starter</a></li>
                <li class="list-inline-item"><a href="https://github.com/aerth/webd">Source Code on GitHub</a></li>
                <li class="list-inline-item">{{.uptime}} Uptime</li>
                <li class="list-inline-item">{{.hits}} Requests</li>
                <li class="list-inline-item"><a href="{{.meta.someLink}}">Link</a></li>
                
            </ul>
        </div>
    </footer>
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/popper.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <!-- <script src="/js/google-analytics.js"></script> -->
</body>

</html>
