    <footer>
        <div class="container text-center">
          <p class="float-left">© 2020 {{.copyrightname}} All Rights Reserved</p>
            <ul class="float-right list-inline">
                <li class="list-inline-item">{{.uptime}} Uptime</li>
                <li class="list-inline-item">{{.hits}} Requests</li>
                <li class="list-inline-item">{{.meta.Version}}</li>
            </ul>
        </div>
    </footer>
    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/popper.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <!-- <script src="/js/google-analytics.js"></script> -->
</body>

</html>
